.header-container {
  position: fixed;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;  
  margin-bottom: 1rem;
  background-color: #EEEEEE !important;
}

.header-toolbar {
  background-color: #EEEEEE !important;
}

.header-trackcontrol {
  text-align: left !important;
  width: 50%;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.5rem;
}

.header-trackcontrol-icon {
  color: #616161 !important;
  font-size: 250% !important;
}

.body-container {
  padding-top: 9rem;
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
}

.button-addtrack {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.track-container {
  background-color: #BDBDBD;
  width: 100%;
  height: 10rem;
  transition: background-color 0.33s;
  margin-bottom: 0.5rem;
}

.track-container:hover {
  background-color: #E0E0E0;
}