/*COLOR PALETTE
PRIMARY BROWN: #8D6E63;
SECONDARY TEAL: #009688;
*/

/*HEAD*/
.header-container {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #EEEEEE !important;
  min-width: 350px;
}

.header-subcontainer {
  display: flex;
}

.header-toolbar {
  background-color: #EEEEEE !important;
}

.header-addtrack {
  margin: 0rem 0rem 1rem 1rem;
  padding: 0.5rem 0.5rem 0rem 1rem;
  width: 10rem;
}

.header-addtrack-input {
  width: 8rem !important;
}

.header-trackcontrol {
  text-align: left !important;
  /*flex: 1;*/
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.header-trackcontrol-icon {
  color: #616161 !important;
  font-size: 250% !important;
}

.header-trackcontrol-icon:hover {
  color: #5D4037 !important;
  cursor: pointer;
}

.header-avatar {
  margin-left: 1rem;
}

.header-track-measure {
  margin-left: 16rem;
  margin-right: 10rem;
  width: 100%;
  height: 1rem;
  background-color: #E0E0E0;
  overflow: hidden;
}

.measure-cell {
  box-sizing: border-box;
  border-right: 1px solid #BCAAA4;
  width: 40px;
  height: 100%;
  display: inline-block;
}

.thick {
  border-right: 2px solid #A1887F;
}


/*BODY*/

.body-padding {
  height: 9.5rem;
  width: 100%;
  background-color: #F5F5F5;
}

.body-container {
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

.button-addtrack {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.floating-seek-icon {
  z-index: 10;
  color: #5D4037 !important;
  font-size: 50px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  position: fixed !important;
  left: 14.5rem;
  top: 7rem !important;
}

.floating-seek-bar {
  z-index: 2;
  box-sizing: border-box;
  position: fixed;
  left: 16rem;
  width: 2px;
  height: 100%;
  left: 16rem;
  background-color: #5D4037;
}
