.track-container {
  background-color: #E0E0E0;
  width: 100%;
  height: 15rem;
  transition: background-color 0.33s;
  margin-bottom: 1rem; 
  display: flex;
}

.track-container:hover {
  background-color: #EEEEEE;
}

.track-info {
  border-right: 1px solid white;
  background-color: #E0E0E0;
  height: 100%;
  width: 11rem;
  text-align: center;
}

.close-link {
  left: 0px;
}

.piano-container {
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
}

.piano-row {
  height: 1rem;
  width: 100%;
  background-color: red;
}