.track-container {
  background-color: #E0E0E0;
  width: 100%;
  height: 15rem;
  transition: background-color 0.33s;
  margin-bottom: 1rem;
  display: flex;
}

.track-container:hover {
  background-color: #EEEEEE;
}

.track-info {
  border-right: 1px solid white;
  background-color: #E0E0E0;
  height: 100%;
  width: 11rem;
  text-align: center;
}

.close-link {
  left: 0px;
}

.pianoroll-container {
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

.piano {
  width: 5rem;
  height: 100%;
}

.piano-key {
  height: 19px;
  border-bottom: 1px solid black;
  background-color: grey;
}

.piano-container {
  width: 100%;
}

.piano-row {
  height: 1rem;
  width: 100%;
  background-color: red;
}

.track-row-container {
  height: 19px;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 0px;
}

.track-cell-container {
  
}
